PORT=3003

DB_URL=mongodb://mongodb:27017/als
JWT_SECRET='secret'
JWT_EXPIRY= '24hr'

EMAIL_USERNAME="complianceTeam@riskcomply.online"
EMAIL_PASSWORD="Tug67184"

EMAIL_HOST=smtp-mail.outlook.com
EMAIL_SMTP_PORT=587
EMAIL_SECURE=false
EMAIL_SERVICE=hotmail

REDIS_HOST=redis
REDIS_PORT=6379